<a href="https://colab.research.google.com/github/atulya97/Machine-Learning/blob/master/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
list1=["a","b","c","d","e","g"]
print(list1)
print(list1[0])
print(list1[-1])
print(list1[2:4])

['a', 'b', 'c', 'd', 'e', 'g']
a
g
['c', 'd']

In [8]:
#loop 
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [9]:
#check if an item present
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [10]:
#join two list
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [11]:
#list constructor
thislist = list(("apple", "banana", "cherry")) 
print(thislist)

['apple', 'banana', 'cherry']

In [12]:
#dictionary
thisdict = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [0]:
thisdict = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
thisdict["year"] = 2018

In [15]:
#nested dictionary
myfamily = {
"child1" : {

"name" : "Emil",
"year" : 2004
},
"child2" : {
"name" : "Tobias",
"year" : 2007
},
"child3" : {
"name" : "Linus",
"year" : 2011
}
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [17]:
#python functions
def my_function(x):
  return 5 * x
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [18]:
#passing list as parameter
def my_function(food):
  for x in food:
    print(x)
fruits = ["apple", "banana", "cherry"]
my_function(fruits)

apple
banana
cherry